include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include customer_statement_app *.css
recursive-include customer_statement_app *.csv
recursive-include customer_statement_app *.html
recursive-include customer_statement_app *.ico
recursive-include customer_statement_app *.js
recursive-include customer_statement_app *.json
recursive-include customer_statement_app *.md
recursive-include customer_statement_app *.png
recursive-include customer_statement_app *.py
recursive-include customer_statement_app *.svg
recursive-include customer_statement_app *.txt
recursive-exclude customer_statement_app *.pyc
